@import url('animations.css');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Monoton&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --blue-50:  #f0f6fe;
    --blue-100: #ddeafc;
    --blue-200: #c2dbfb;
    --blue-300: #99c6f7;
    --blue-400: #68a7f2;
    --blue-500: #4585ec;
    --blue-600: #3068e0;
    --blue-700: #2652c9;
    --blue-800: #2645a7;
    --blue-900: #243e84;
    --blue-950: #1a2751;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* LINKS */
#my__info {
    scroll-margin-top: 6rem;
  }
#skills {
    scroll-margin-top: 6rem;
  }
  
  #projects {
    scroll-margin-top: 6rem;
  } 



html{
    scroll-behavior: smooth;
}

body{
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(135deg, #1a2751 0%, #243e84 50%, #1a2751 100%);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.6rem;
    color: var(--blue-50);
    padding-bottom: 10rem;
}
.header--movil-menu{
    @media (max-width:991px){
        height: 100%;
    }   
}
header{

    z-index: 999;
    display: flex;
    align-items:center;
    width: 100%;
    padding: 3rem;
    @media(max-width:991px){
        padding: 1rem;
        position: fixed;
        align-items: flex-start;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
        background: var(--blue-600);
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        @media(max-width:991px){
            
        }
        .nav__logo{
            
            font-family: "Monoton", sans-serif;
            font-size: 3.5rem;
            color: var(--blue-200);
            text-shadow: 0 0 5px var(--blue-300);
            text-decoration: none;
            
            
            @media (max-width:720px){
                font-size: 2.5rem;
            }
            .nav__logo--img{
                width: 4rem;
                height: 4rem;
               
                @media(max-width:991px){
                    width: 3rem;
                    height: 3rem;
                }
            }
        }
        .nav__list__movil__button{
            display: none;
            @media(max-width:991px){
                display: flex;
                font-size: 2.5rem;
                margin-right: 1rem;
                cursor: pointer;
                @media (max-width:720px){
                    font-size: 2.3rem;
                }
            }
        }
        .nav__list{
            display: flex;
            gap: 2.5rem;
            list-style: none;
            @media(max-width:991px){
                display: none;
            }

            .nav__list__li{
                display: flex;
                position: relative;
                &:hover{
                    
                    &::after{
                        content: '';
                        position: absolute;
                        border: 1px solid var(--blue-100);
                        bottom: -0.5rem;
                        animation: underline 0.2s forwards;
                        
                    }
                    
                }
                
                @media(max-width:991px){
                    margin-top: 2rem;
                    padding: 1rem;
                    width: 100%;
                    justify-content: flex-start;
                    border-bottom: 0.5px solid var(--blue-100);
                    
                }
                .nav__list__li--link{
                    color: var(--blue-100);
                    text-decoration: none;
                    display: flex;
                    gap: 0.5rem;
                    font-weight: 600;
                    font-size: 1.3rem;
                    transition: transform 0.3s;
                    @media(max-width:991px){
                        font-size: 1.5rem;
                    }
                    &:hover{
                        transform: scale(1.1);
                        text-shadow: 0 0 10px var(--blue-400);
                        transition: transform 0.3s;
                    }
                }
            }
        }
        .nav__list--movil{
            @media(max-width:991px){ 
            display: flex;
            position: absolute;
            flex-direction: column;
            gap: 1rem;
            padding: 1rem;
            border-top: 3px solid var(--blue-100);
            background: linear-gradient(135deg, #2645a7 0%, #243e84 50%, #1a2751 100%);
            z-index: 1000;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
            top: 5rem;
            left: 0;
            right: 0;
            bottom: 0;
            
            }
        }  
    }
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12rem;
    margin-top: 8rem;
    padding: 1rem;
    @media (max-width:991px){
        gap: 15rem;
    }
   .button__home{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--blue-100);
    font-size: 5rem;
    bottom: 2rem;
    right: 2rem;
    cursor: pointer;
    z-index: 1001;
    @media(max-width:991px){
        display: none;
    }

   }
   .main__intro{
    display: flex;
    align-items: stretch;
    width: 95%;
    gap: 1rem;
    height: 100%;
    border-bottom: 1px solid var(--blue-50);
    padding-bottom: 10rem;
    @media(max-width:991px){
        flex-direction: column;
        gap:5rem;
    }
    
    .main__intro__titles{
        display: flex;
        flex-direction: column;
        gap: 3rem; 
        width: 55%;
        margin-right: 8rem;
        @media(max-width:991px){
            gap: 2rem;
            width: 100%;
            margin-right: 0;
        }
        
        .main__intro__titles--title {
            font-size: clamp(3rem, 4.5vw, 4.5rem);
            display: flex;
            align-items: center;
            text-shadow: 0 0 5px var(--blue-600),
                         0 0 7px var(--blue-700); 
            @media(max-width:720px){
                font-size:2.2rem;
                justify-content: center;
                margin-left: 0;
                @media(max-width:520px){
                    font-size: 1.5rem;
                    margin-right: 0.5rem;
                    
                }
            }
            
            .main__intro__titles--title-logo{
                width: 8rem;
                height: 8rem;
                @media(max-width:991px){
                    width: 4rem;
                    height: 4rem;
                }
                @media(max-width:520px){
                    display: none;
                }
            }
            .initial{
                font-family: "Monoton", sans-serif;
                font-weight: 400;
                margin-left: 1rem;
                color: var(--blue-200);
            }
          
        }
        .title--2{
            color: var(--blue-400);
            text-shadow: 0 0 5px var(--blue-700),
                         0 0 7px var(--blue-600),
                         0 0 3px var(--blue-50);
            margin-left: 1rem;
            @media(max-width:720px){
                margin-left: 0;
            }
        }
       
        .main__intro__titles__socials{
            display: flex;
            font-size: clamp(2rem, 4.5vw, 2.4rem);
            gap: 2rem;
            margin-left: 1rem;
            @media(max-width:720px){
                justify-content: center;
                margin-left: 0;
            }
            .icons{
                text-shadow: 0 0 10px var(--blue-700),
                            0 0 15px var(--blue-500),
                            0 0 10px var(--blue-400);
            }
        }
        .main__intro__titles--button{
            display: flex;
            gap: 1rem;
            justify-content: center;
            align-items: center;
            outline: none;
            border: none;
            text-decoration: none;
            border: 3px solid var(--blue-50);
            background: none;
            color: var(--blue-50);
            width: 16rem;
            font-size: 1.2rem;
            font-weight: 600;
            padding: 0.5rem;
            text-shadow: none;
            i{
                font-size: 1.5rem;
            }
            @media(max-width:720px){
                margin: 0 auto;
                
            }
            &:hover{
                background: var(--blue-800);
                border: 3px solid var(--blue-100);
                color: var(--blue-100);
            }

        }
        
    }
    
    .main__intro__info{
        display: flex;
        flex-direction: column;
        width: 40%;
        font-size: 1.3rem;
        margin-top: 1rem;
        gap: 0.5rem;
        line-height: 2.2rem;
        padding: 1rem;
        @media(max-width:991px){
           width: 100%;
        }
        .data{
            display: flex;
            flex-direction: column;
            font-size: 1.1rem;
            gap: 0.5rem;
            font-weight: 600;
            p{
                display: flex;
                align-items: center;
                gap: 1rem;
            }
            i{
                font-size: 1.3rem;
            }
            img{
                width: 16rem;
                height: 8rem;
                object-fit: scale-down;
                margin-bottom: 2rem;
            }
        }

    }
   }

   /* SKILLS CONTAINER */
   .main__skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    width: 100%;
    border-bottom: 1px solid var(--blue-100);
    padding-bottom: 10rem;
    .main__skills__header{
        font-size: 1.5rem;
        margin-bottom: 2rem;
        text-shadow: 0 0 5px var(--blue-400),
                     0 0 10px var(--blue-700);
    }
    .main__skills__body{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        margin: 0 auto;
        width: 100%;
        gap: 2.5rem;
        .skill{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin: 0 auto;
            gap: 0.5rem;
            border-radius: 1rem;
            border: 0.5px solid var(--blue-100);
            padding: 0.5rem;
            font-size: 3rem;
            width: 18rem;
            height: 13rem;
            transition: transform 0.3s;
            &:hover{
                background: var(--blue-100);
                color: var(--blue-700);
                transform: scale(1.04);
                transition: transform 0.3s;
                box-shadow: 0 0 15px var(--blue-100);
                .skill--icon{
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    width: 2.5rem;
                    height: 2.4rem;
                }
                .html{
                    color: orangered;
                }
                .js{
                    background-color: black;
                    color: yellow 
                }
                .python{
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #306998;
                    color: white;
                    width: 3.1rem;
                    height: 3.1rem;
                    border-radius: 0.5rem;
                }
                .django{
                    color:rgb(4, 88, 4) ;
                }
                .git{
                    color: orangered;
                }
                .github{
                    color: black;
                }
                .boostrap{
                    color: #6f42c1;
                }
            }
            .skill--title{
                font-size: 1rem;
            }
            .skill--description{
                font-size: 0.9rem;
            }
        }
        
    }
    .main__skills__footer{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        border: 1px solid var(--blue-100);
        border-radius: 1rem;
        padding: 1rem;
        gap: 1.5rem;
        max-width: 80rem;
        width: 90%;
        font-size: 0.9rem;
        font-weight: 400;
        .complementary__skills__container{
            .complemetary__skills__container__ul{
                display: flex;
                flex-direction: column;
                gap: 2rem;
                margin-left: 1rem;
                @media(max-width:720px){
                    margin-left: 0.5rem;
                   
                }
            }
        }
    }


   }

   /* PROJECTS CONTAINER */
   .main__projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 3rem;
    width: 100%;
    padding: 1rem;
    color: var(--blue-100);
    .main__projects--title{
        display: flex;
        margin-bottom: 3rem;
        text-shadow: 0 0 5px var(--blue-500),
                     0 0 5px var(--blue-500);
    }         
    .main__projects__container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 auto;
        gap: 1rem;
        .project{
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 1rem;
            max-width: 30rem;
            min-height: 42rem;
            max-height: 42rem;
            width: 100%;
            height: 100%;
            border: 1px solid var(--blue-100);
            border-radius: 0.5rem;
            padding: 1rem;
            justify-content: space-between;
            transition:  transform 0.3s;
            
            @media(max-width:530px){
                max-height: 45rem;
                height: auto;
            }
            &:hover{

                background: var(--blue-100);
                color: var(--blue-600);
                box-shadow: 0 0 15px var(--blue-100);
                transition: transform 0.3s;
                .project__button{
                    border: none;
                    border: 1px solid var(--blue-500);
                    
                }
            }
            .project--title{
                display: flex;
                margin-top: 1rem;
                margin-bottom: 1rem;
                text-align: center;
            }
            .project--img{
                width: 100%;
                height: 13rem;
                object-fit:contain;
            }
            .project__date{
                margin-top: auto;
                margin-right: auto;
            }
            .project--description{
                height: 10rem;
                margin-bottom: 1rem;
                text-align: center;
                @media (max-width:520px){
                    height: auto;
                }
            }
            .project__button{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                color: inherit;
                text-decoration: none;
                border-radius: 0.3rem;
                width: 100%;
                padding: 0.4rem;
                border: 1px solid var(--blue-200);
                font-size: 1rem;
                font-weight: 600;
                gap: 0.5rem;
                margin-bottom: 1rem;
                &:hover{
                    opacity: 90%;
                    background: var(--blue-700);
                    color: var(--blue-50);
                }
            }
            .project__tools{
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                width: 100%;
                align-items: flex-start;
                justify-content: stretch;
                margin-bottom: 1rem;
                
                .project__tools__ul{
                    list-style: none;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 1rem;
                    margin-left: 0.5rem;
                    .project__tools__ul__li .project__tools__ul__li--tool{
                        display: flex;
                        align-items: center;
                        width: 100%;
                        gap: 0.5rem;
                        font-size: 1rem;
                        font-weight: 600;
                        .tool--icon{
                            font-size: 1.5rem;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background: var(--blue-50);
                            width: 0.9rem;
                            height: 0.9rem;

                        }
                        .html{
                            color: orangered;
                        }
                        .css{
                            color: var(--blue-600);
                        }
                        .js{
                            color: yellow;
                            width: 1rem;
                            height: 1rem;
                            background: black;
                        }
                        .python{
                            width: 1.5rem;
                            height: 1.5rem;
                            background-color:#306998 ;
                            color:white ;
                            border-radius: 0.5rem;
                        }
                        .django{
                            color: rgb(37, 154, 37);
                            background: none;
                        }
                        .mysql{
                            background: none;
                            color: var(--blue-500);
                        }
                        .boostrap{
                            color: #6f42c1;
                        }
                    }
                }
            }
            
        }
    }       
   }
  
}
      
